.card-body {
  background: -webkit-linear-gradient(225deg, rgb(0, 0, 0) 25%, rgb(8, 0, 144));
  background: -moz-linear-gradient(225deg, rgb(0, 0, 0) 25%, rgb(8, 0, 144));
  background: linear-gradient(225deg, rgb(0, 0, 0) 25%, rgb(8, 0, 144));
}

.button {
  position: absolute;
  bottom: 10px;
  left: 20%;
}
