<div class="card" style="width: 18rem; height: 24rem; border: 1px solid blueviolet">
  <img [src]="cocktail.imageCocktail" style="height: 286px; width: 286px" class="card-img-top" alt="cocktail">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-white">{{ cocktail.name }}</h5>
    <p class="card-text text-warning font-italic">Type: {{ cocktail.type }}</p>
  </div>
</div>
