<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <img alt="logo" src="https://images.cocktailflow.com/v1/collection/w_300,h_270/collection_color_multicolored.png" style="height: 40px; margin-top: 2px">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#" style="font-size: 20px;" routerLink="/"><b>Cocktail Party</b> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-danger my-2 my-sm-0" type="button" routerLink="add">Add new cocktail</button>
    </div>
  </div>
</nav>
