<div class="row row-cols-1 row-cols-md-5 newCard mt-4" >
  <app-cocktail-item class="mb-4" style="cursor: pointer" *ngFor="let cocktail of cocktails" [cocktail]="cocktail"></app-cocktail-item>
</div>
