<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px; background-color: lightskyblue">
            <div class="card-body p-5">
              <form [formGroup]="cocktailForm" (ngSubmit)="addNewCocktail()">

                <div class="form-outline mb-2">
                  <label class="form-label" for="name"><b>Cocktail name: </b></label>
                  <input type="text" id="name" formControlName="name" class="form-control form-control-lg" placeholder="Наименование коктейля"/>
                  <small
                    *ngIf="fieldHasError('name', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the name of the cocktail.
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="imageCocktail"><b>Cocktail image: </b></label>
                  <input type="text" id="imageCocktail" formControlName="imageCocktail" class="form-control form-control-lg" placeholder="Ссылка на картинку коктейля"/>
                  <small
                    *ngIf="fieldHasError('imageCocktail', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the image of the cocktail.
                  </small>
                  <small
                    *ngIf="fieldHasError('imageCocktail', 'url')"
                    class="form-text invalid-form-text"
                  >
                    The link should start with «http://» or «https://»
                  </small>
                </div>

                <div class="form-outline mb-2">
                  <p style="margin-bottom: 5px"><b>Type</b>:</p>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="alcoholicCocktail"
                      formControlName="type"
                      value="Alcoholic"
                    />
                    <label class="form-check-label" for="alcoholicCocktail">Alcohol cocktail</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="nonalcoholicCocktail"
                      formControlName="type"
                      value="Nonalcoholic"
                    />
                    <label class="form-check-label" for="nonalcoholicCocktail">Mocktail</label>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="description"><b>Description: </b></label>
                  <textarea id="description" formControlName="description" class="form-control form-control-lg" placeholder="Описание коктейля"></textarea>
                </div>

                <div class="form-group mb-2" formArrayName="ingredients">
                  <label class="form-label mb-2" for="addIngredient"><b>Ingredients: </b></label>
                  <br>
                  <button type="button" id="addIngredient" class="btn btn-info mb-2" (click)="addIngredient()">Add</button>
                  <div class="form-inline" *ngFor="let ingredientControl of getIngredientControls(); let i = index">
                    <div class="mb-2" [formGroupName]="i">
                      <input type="text" id="ingredientName" formControlName="ingredientName" class="form-control form-control-lg" style="width: 205px" placeholder="Назв. ингридиента"/>
                      <input type="number" id="amount" formControlName="amount" class="form-control form-control-lg ml-2 mr-2" style="width: 110px" placeholder="Кол-во"/>
                      <select
                        id="measurability"
                        formControlName="measurability"
                        class="form-control"
                        style="width: 65px; height: 48px"
                      >
                        <option value="мл.">мл.</option>
                        <option value="шт.">шт.</option>
                        <option value="гр.">гр.</option>
                      </select>
                      <img alt="delete" src="https://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/256/Close-2-icon.png" style="height: 30px" type="button" class="ml-2" (click)="removeIngredient(i)"/>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="instructions"><b>Instructions: </b></label>
                  <textarea id="instructions" formControlName="instructions" class="form-control form-control-lg" placeholder="Описание приготовления"></textarea>
                  <small
                    *ngIf="fieldHasError('instructions', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the instructions of the cocktail preparation.
                  </small>
                </div>

                <div class="d-flex justify-content-center mt-4">
                  <button
                    type="submit"
                    class="btn btn-block btn-success"
                    [disabled]="cocktailForm.invalid"
                  >Save</button>
                </div>
                <p class="text-center text-muted mt-3">Did you get here by a mistake? <a href="#" class="fw-bold text-body" routerLink="/"><u>Go back</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

