input.ng-invalid.ng-touched {
  border: 2px solid red;
}
.invalid-form-text {
  color: red;
}
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

.card {
  background: -webkit-linear-gradient(45deg, rgb(185, 240, 240), rgb(229, 255, 254));
  background: -moz-linear-gradient(45deg, rgb(185, 240, 240), rgb(229, 255, 254));
  background: linear-gradient(45deg, rgb(185, 240, 240), rgb(229, 255, 254));
}
