body {
  background-blend-mode: multiply;
  background-image: url("https://assets.gqindia.com/photos/609a8e5b2c7bfc93e2031ba2/master/pass/World%20Cocktail%20Day.jpeg");
  background-size: cover;
  /*background-color: green;*/
}
